In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler

In [21]:
# Reading The Price Data
data = pd.read_csv('data/AMZN.csv', parse_dates = True, index_col = 'Date')

In [22]:
# Filtering The Columns
data = data.drop(columns = ['Adj Close'])
data

                   Open         High          Low        Close    Volume
Date
1997-05-15     2.437500     2.500000     1.927083     1.958333  72156000
1997-05-16     1.968750     1.979167     1.708333     1.729167  14700000
1997-05-19     1.760417     1.770833     1.625000     1.708333   6106800
1997-05-20     1.729167     1.750000     1.635417     1.635417   5467200
1997-05-21     1.635417     1.645833     1.375000     1.427083  18853200
...                 ...          ...          ...          ...       ...
2020-04-23  2399.979980  2424.219971  2382.080078  2399.449951   5066600
2020-04-24  2417.000000  2420.429932  2382.000000  2410.219971   3831800
2020-04-27  2443.199951  2444.879883  2363.000000  2376.000000   5645600
2020-04-28  2372.100098  2373.500000  2306.000000  2314.080078   5269400
2020-04-29  2330.010010  2391.889893  2310.000000  2372.709961   4549500

[5777 rows x 5 columns]

In [23]:
# Checking For NAN OR Missing Values
data.isna().any()

Open      False
High      False
Low       False
Close     False
Volume    False
dtype: bool

In [24]:
# Info
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5777 entries, 1997-05-15 to 2020-04-29
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    5777 non-null   float64
 1   High    5777 non-null   float64
 2   Low     5777 non-null   float64
 3   Close   5777 non-null   float64
 4   Volume  5777 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 270.8 KB